/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.mat-form-field {
  width: 100%;
  margin: 2px;
}

.text-center {
  text-align: center;
}

mat-slider {
  width: 300px;
}

body {
  margin: 0;
  padding: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: auto;
}

mat-drawer-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
.list-item-active {
  font-weight: bold;
  color: red !important;
  background: rgba(0, 0, 0, 0.04);
}

.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}

.app-container {
  background: #d9edf7;
  min-height: 100vh;
}
html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

footer {
  background-color: #3f51b5;
}
